@model  Hunarmis.Models.AspNetUser
@using Hunarmis.Models
@*@model IEnumerable<KGBV_JH.Models.QesRes>*@
@{
    ViewBag.Title = "HR List";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "HR List";
    ViewBag.SemiTitleLink = "/";

}
<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-spacer">
                        <p class="bord-btm pad-ver text-main text-bold">
                            <i class="fa fa-list spacerright2"></i>@ViewBag.Title
                        </p>
                    </div>
                    @using (Html.BeginForm("GetIndex", "Add", FormMethod.Post, new { @id = "tblList-frm", @class = "panel-body form-horizontal form-padding loader" }))
                    {
                        @*<div class="manage-bg">
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">Year</label>
                                <div id="demo-dp-range">
                                    @Html.DropDownListFor(m => m.YearId, new List<SelectListItem>(), null, htmlAttributes: new { @id = "YearId", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">Quarterly</label>
                                <div id="demo-dp-range">
                                    @Html.DropDownListFor(m => m.FrequencyId, new List<SelectListItem>(), null, htmlAttributes: new { @id = "FrequencyId", @class = "form-control select2", @required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">District</label>
                                <div id="demo-dp-range">
                                    @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), "Select One", htmlAttributes: new { @id = "DistrictId", @class = "form-control select2", @required = "required" })
                                </div>
                            </div>

                        
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">School Type</label>
                                <div id="demo-dp-range" style="padding-top: 33px !important;">
                                    <input type="radio" name="SchoolType" value="@KGBV_JH.Models.Enums.ESchoolType.KGBV" checked="checked" /> @KGBV_JH.Models.Enums.ESchoolType.KGBV &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="SchoolType" value="@KGBV_JH.Models.Enums.ESchoolType.JBAV" /> @KGBV_JH.Models.Enums.ESchoolType.JBAV
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="tar-pull-manage2">School</label>
                                <div id="demo-dp-range">
                                    @Html.DropDownListFor(m => m.SchoolId, new List<SelectListItem>(), "All", htmlAttributes: new { @id = "SchoolId", @class = "form-control select2", @required = "required" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="margin-tops"></label>
                                <div class="clearfix"></div>
                                <input type="submit" id="btnshow" name="btnClick" value="Search" class="btn  btn-primary text-right" title="" />
                            </div>
                            <div class="mark-devide2"></div>
                            <div class="breaker"></div>
                        </div>*@
                    }
                    <div class="col-md-12">@Html.Partial("_Alerts")</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12" id="sub-data">

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12" id="sub-data-view">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Custom/Master.js"></script>

    <script>
        $(document).ready(function () {

            Loadcall();
            $("#tblList-frm").submit(function (event) {
                event.preventDefault();
                $('#sub-data').html("");
                $('#sub-data-view').html("");
                LoadReport();
            });
            $('#YearId').change(function (event) {
                event.preventDefault();
                BindQuarter("FrequencyId", $('#YearId').val());
            });
            $('input[name=SchoolType]').change(function (event) {
                event.preventDefault();
                IsCallSchool();
            });

            @*if ('@User.IsInRole(UserRoles.BRP)' == "True" || '@User.IsInRole(UserRoles.CRP)' == "True" || '@User.IsInRole(UserRoles.Warden)' == "True") {
                setTimeout(function () {
                    $('#SchoolId').val('@CommonModel.SessionLog.SchoolId_fk');
                    $('#SchoolId').trigger('change');
                }, 2000);
                $('#SchoolId').css({ "pointer-events": "none", "touch-action": "none", "background": "#ede6e6" });
                $('#SchoolId').trigger('change');
            }
            else {
                setTimeout(function () {
                    LoadReport();
                }, 2000);

            }*@

           
        });

        function Loadcall() {
            $('#sub-data').html("");
            $('#sub-data-view').html("");
            BindFinYear("YearId", 1, null);
            BindQuarter("FrequencyId", 1, null); $('#YearId').val();
            BindDistrict("DistrictId", "", true);
            IsCallSchool();
           // LoadReport();
        }

        function IsCallSchool() {
            @*if ('@CommonModel.IsRole()' == 'False') {
                if (SchoolType)
                    BindSchool('SchoolId', SchoolType, '@CommonModel.SessionLog.SchoolId_fk', true);
                else
                    BindSchool('SchoolId', $('input[name=SchoolType]').val(), '@CommonModel.SessionLog.SchoolId_fk', true);
            }
            else {
                if (SchoolType)
                    BindSchool('SchoolId', SchoolType, 0, true);
                else
                    BindSchool('SchoolId', $('input[name=SchoolType]').val(), 0, true);
            }*@
             var selectedvalue = $('input[name=SchoolType]:checked', '#tblList-frm').val();
            @*if ('@CommonModel.IsRole()' == 'False') {
                BindSchool('SchoolId', selectedvalue, '@CommonModel.SessionLog.SchoolId_fk');
            }
            else {
                BindSchool('SchoolId', selectedvalue, 0);
            }*@
        }

        function LoadReport() {
            $('#sub-data').html("");
            $('#global-loader').css('background', 'transparent').css('display', 'block');
            $('#sub-data').removeClass("text-danger");
            var id = '#tblList-frm'
            var url = $(id).attr("action");
            var YearId = $("#YearId").val() == "" ? "0" : $("#YearId").val();
            var SchoolId = $("#SchoolId").val() == "" ? "0" : $("#SchoolId").val();
            var FrequencyId = $("#FrequencyId").val() == "" ? "0" : $("#FrequencyId").val();
            var SchoolType = $('input[name=SchoolType]:checked', '#tblList-frm').val();
           // var FrequencyId = $("#FrequencyId").val();
            $.ajax({
               // url: url,
                url: document.baseURI + "/HR/GetIndex",
                type: "POST",
                data: { 'YearId': YearId, 'FrequencyId': FrequencyId, 'SchoolId': SchoolId, 'SchoolType': SchoolType },
               // contentType: "application/json",
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-black");
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                    }
                    else {
                        $('#sub-data').html(resp.Data); $('#sub-data').addClass("text-danger");
                        //CreateToasterMessage("Error", response.Message, response.StatusType);
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#sub-data').html(errormsg); $('#sub-data').addClass("text-danger");
                    $('#global-loader').css('background', 'transparent').css('display', 'none');
                }
            });
        }

        function Display(Idpk) {
            debugger;
            $('#global-loader').css('background', 'transparent').css('display', 'block');
            $('#sub-data-view').removeClass("text-danger");
            var id = '#tblList-frm'
            var url = $(id).attr("action");
            // var FrequencyId = $("#FrequencyId").val();
            $.ajax({
                // url: url,
                url: document.baseURI + "/HR/GetViewData",
                type: "POST",
                data: { 'Id': Idpk },
                // contentType: "application/json",
                success: function (resp) {
                    if (resp.IsSuccess) {
                        $('#sub-data-view').html(resp.Data);
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                    }
                    else {
                        $('#sub-data-view').html(resp.Data); $('#sub-data-view').addClass("text-danger");
                        //CreateToasterMessage("Error", response.Message, response.StatusType);
                        $('#global-loader').css('background', 'transparent').css('display', 'none');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    $('#sub-data-view').html(errormsg); $('#sub-data-view').addClass("text-danger");
                    $('#global-loader').css('background', 'transparent').css('display', 'none');
                }
            });
        }
    </script>
}
